# Data Manipulation Studio

For this studio, we will revisit our California farmers looking for advice on growing pumpkins and the same [pumpkins dataset](https://www.kaggle.com/usda/a-year-of-pumpkin-prices) as provided by the U.S. Department of Agriculture. You may have to clean data in the process of data manipulation, so feel free to pull up your notebook from the last class's studio.

We will now be focusing our attention on a different region in the United States, the Northeast. When you open up the `dataset` folder, you will have 13 CSVs, including the San Francisco and Los Angeles data from the last lesson. The 13 CSVs are each a different terminal market in the United States.

## Getting Started

Import the CSVs for each of the following cities: Baltimore, Boston, New York, and Philadelphia. Set up a dataframe for each city.

In [348]:
# Import the necessary libraries and CSVs. Make some dataframes!
import pandas as pd
import numpy as np

baltimore_df=pd.read_csv("dataset/baltimore_9-24-2016_9-30-2017.csv")
boston_df=pd.read_csv("dataset/boston_9-24-2016_9-30-2017.csv")
newyork_df=pd.read_csv("dataset/new-york_9-24-2016_9-30-2017.csv")
philadelphia_df=pd.read_csv("dataset/philadelphia_9-24-2016_9-30-2017.csv")

In [349]:
baltimore_df.head()

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,...,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
0,PUMPKINS,BALTIMORE,NaN,24 inch bins,NaN,NaN,NaN,04/29/2017,270,280.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E,NaN
1,PUMPKINS,BALTIMORE,NaN,24 inch bins,NaN,NaN,NaN,05/06/2017,270,280.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E,NaN
2,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,160.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,160.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,11/05/2016,90,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

In [350]:
boston_df.head()

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,...,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
0,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,200,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
1,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,200,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
2,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,200,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,200,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,180,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

In [351]:
newyork_df.head()

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,...,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
0,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,150,170,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
1,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,150,170,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
2,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,130,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,130,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,120,140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

## Clean Your Data

In the last lesson, we cleaned the data to related to San Francisco. Pull up your notebook from the last lesson and use your cleaning skills to clean the dataframes as necessary.

In [352]:
# Clean your data here!
#baltimore
for col in baltimore_df.columns:
    pct_missing = np.mean(baltimore_df[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

Commodity Name - 0%
City Name - 0%
Type - 100%
Package - 0%
Variety - 1%
Sub Variety - 84%
Grade - 100%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 3%
Origin District - 100%
Item Size - 16%
Color - 80%
Environment - 100%
Unit of Sale - 84%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%

In [353]:
total_cells = np.product(baltimore_df.shape)

missing_cells = pd.isnull(baltimore_df).sum()

total_missing = missing_cells.sum()

percentage_missing = round((total_missing/total_cells), 2) *100

print(percentage_missing, "% Missing cells from the baltimore")

51.0 % Missing cells from the baltimore

In [354]:
baltimore_df["Repack"] = baltimore_df["Repack"].replace({"N":False})
baltimore_df["Type"] = baltimore_df["Type"].fillna("Conventional")

#"Grade" is only applied to canned pumpkin.These were all uncanned, whole pumpkins. This column is irrelevant to the dataset.
baltimore_df = baltimore_df.drop(["Grade"], axis=1)

In [355]:

baltimore_df.head()

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Date,Low Price,High Price,Mostly Low,...,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
0,PUMPKINS,BALTIMORE,Conventional,24 inch bins,NaN,NaN,04/29/2017,270,280.0,270,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E,NaN
1,PUMPKINS,BALTIMORE,Conventional,24 inch bins,NaN,NaN,05/06/2017,270,280.0,270,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E,NaN
2,PUMPKINS,BALTIMORE,Conventional,24 inch bins,HOWDEN TYPE,NaN,09/24/2016,160,160.0,160,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
3,PUMPKINS,BALTIMORE,Conventional,24 inch bins,HOWDEN TYPE,NaN,09/24/2016,160,160.0,160,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
4,PUMPKINS,BALTIMORE,Conventional,24 inch bins,HOWDEN TYPE,NaN,11/05/2016,90,100.0,90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN

In [356]:
 
baltimore_df.head()

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Date,Low Price,High Price,Mostly Low,...,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
0,PUMPKINS,BALTIMORE,Conventional,24 inch bins,NaN,NaN,04/29/2017,270,280.0,270,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E,NaN
1,PUMPKINS,BALTIMORE,Conventional,24 inch bins,NaN,NaN,05/06/2017,270,280.0,270,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E,NaN
2,PUMPKINS,BALTIMORE,Conventional,24 inch bins,HOWDEN TYPE,NaN,09/24/2016,160,160.0,160,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
3,PUMPKINS,BALTIMORE,Conventional,24 inch bins,HOWDEN TYPE,NaN,09/24/2016,160,160.0,160,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
4,PUMPKINS,BALTIMORE,Conventional,24 inch bins,HOWDEN TYPE,NaN,11/05/2016,90,100.0,90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN

In [357]:
# Dropping 100 percent mission values in all data set balitmore,boston,newyork,philadelphia

baltimore_df=baltimore_df.drop(["Environment"],axis=1)
baltimore_df=baltimore_df.drop(["Quality"],axis=1)
baltimore_df=baltimore_df.drop(["Condition"],axis=1)
baltimore_df=baltimore_df.drop(["Appearance"],axis=1)
baltimore_df=baltimore_df.drop(["Storage"],axis=1)
baltimore_df=baltimore_df.drop(["Crop"],axis=1)
baltimore_df=baltimore_df.drop(["Trans Mode"],axis=1)

In [358]:
baltimore_df.head()

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Date,Low Price,High Price,Mostly Low,Mostly High,Origin,Origin District,Item Size,Color,Unit of Sale,Repack
0,PUMPKINS,BALTIMORE,Conventional,24 inch bins,NaN,NaN,04/29/2017,270,280.0,270,280.0,NaN,NaN,lge,NaN,NaN,E
1,PUMPKINS,BALTIMORE,Conventional,24 inch bins,NaN,NaN,05/06/2017,270,280.0,270,280.0,NaN,NaN,lge,NaN,NaN,E
2,PUMPKINS,BALTIMORE,Conventional,24 inch bins,HOWDEN TYPE,NaN,09/24/2016,160,160.0,160,160.0,DELAWARE,NaN,med,NaN,NaN,False
3,PUMPKINS,BALTIMORE,Conventional,24 inch bins,HOWDEN TYPE,NaN,09/24/2016,160,160.0,160,160.0,VIRGINIA,NaN,med,NaN,NaN,False
4,PUMPKINS,BALTIMORE,Conventional,24 inch bins,HOWDEN TYPE,NaN,11/05/2016,90,100.0,90,100.0,MARYLAND,NaN,lge,NaN,NaN,False

In [359]:
baltimore_df.shape

(153, 17)

 ***Boston

In [360]:
boston_df.head()

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,...,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
0,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,200,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
1,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,200,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
2,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,200,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,200,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,180,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

In [361]:
for col in boston_df.columns:
    pct_missing = np.mean(boston_df[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

Commodity Name - 0%
City Name - 0%
Type - 100%
Package - 0%
Variety - 0%
Sub Variety - 92%
Grade - 100%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 0%
Origin District - 81%
Item Size - 1%
Color - 14%
Environment - 100%
Unit of Sale - 87%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%

In [362]:
boston_df["Repack"] = boston_df["Repack"].replace({"N":False})
boston_df["Type"] = boston_df["Type"].fillna("Conventional")
boston_df = boston_df.drop(["Grade"], axis=1) 
boston_df.head()

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Date,Low Price,High Price,Mostly Low,...,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
0,PUMPKINS,BOSTON,Conventional,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,160,200,165,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
1,PUMPKINS,BOSTON,Conventional,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,160,200,165,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
2,PUMPKINS,BOSTON,Conventional,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,160,200,165,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
3,PUMPKINS,BOSTON,Conventional,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,160,200,165,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
4,PUMPKINS,BOSTON,Conventional,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,160,180,165,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN

In [363]:
# Dropping 100 percent mission values in all data set balitmore,boston,newyork,philadelphia

boston_df=boston_df.drop(["Environment"],axis=1)
boston_df=boston_df.drop(["Quality"],axis=1)
boston_df=boston_df.drop(["Condition"],axis=1)
boston_df=boston_df.drop(["Appearance"],axis=1)
boston_df=boston_df.drop(["Storage"],axis=1)
boston_df=boston_df.drop(["Crop"],axis=1)
boston_df=boston_df.drop(["Trans Mode"],axis=1)
boston_df.head()

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Date,Low Price,High Price,Mostly Low,Mostly High,Origin,Origin District,Item Size,Color,Unit of Sale,Repack
0,PUMPKINS,BOSTON,Conventional,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,160,200,165,165,CANADA,QUEBEC,exjbo,ORANGE,NaN,False
1,PUMPKINS,BOSTON,Conventional,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,160,200,165,165,CANADA,QUEBEC,jbo,ORANGE,NaN,False
2,PUMPKINS,BOSTON,Conventional,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,160,200,165,165,CANADA,QUEBEC,xlge,ORANGE,NaN,False
3,PUMPKINS,BOSTON,Conventional,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,160,200,165,165,CANADA,ONTARIO,xlge,ORANGE,NaN,False
4,PUMPKINS,BOSTON,Conventional,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,160,180,165,165,CANADA,ONTARIO,lge,ORANGE,NaN,False

In [364]:
boston_df.shape

(352, 17)

***newyork

In [365]:
newyork_df.head()

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,...,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
0,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,150,170,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
1,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,150,170,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
2,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,130,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,130,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,120,140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

In [366]:
for col in newyork_df.columns:
    pct_missing = np.mean(newyork_df[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

Commodity Name - 0%
City Name - 0%
Type - 100%
Package - 0%
Variety - 0%
Sub Variety - 84%
Grade - 100%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 0%
Origin District - 87%
Item Size - 7%
Color - 81%
Environment - 100%
Unit of Sale - 78%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%

In [367]:
newyork_df["Repack"] = newyork_df["Repack"].replace({"N":False})
newyork_df["Type"] = newyork_df["Type"].fillna("Conventional")
newyork_df = newyork_df.drop(["Grade"], axis=1) 
newyork_df.head()

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Date,Low Price,High Price,Mostly Low,...,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
0,PUMPKINS,NEW YORK,Conventional,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,150,170,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
1,PUMPKINS,NEW YORK,Conventional,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,150,170,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
2,PUMPKINS,NEW YORK,Conventional,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,130,150,130,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
3,PUMPKINS,NEW YORK,Conventional,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,130,150,130,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
4,PUMPKINS,NEW YORK,Conventional,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,120,140,120,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN

In [368]:
# Dropping 100 percent mission values in all data set balitmore,boston,newyork,philadelphia

newyork_df=newyork_df.drop(["Environment"],axis=1)
newyork_df=newyork_df.drop(["Quality"],axis=1)
newyork_df=newyork_df.drop(["Condition"],axis=1)
newyork_df=newyork_df.drop(["Appearance"],axis=1)
newyork_df=newyork_df.drop(["Storage"],axis=1)
newyork_df=newyork_df.drop(["Crop"],axis=1)
newyork_df=newyork_df.drop(["Trans Mode"],axis=1)
newyork_df.head()

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Date,Low Price,High Price,Mostly Low,Mostly High,Origin,Origin District,Item Size,Color,Unit of Sale,Repack
0,PUMPKINS,NEW YORK,Conventional,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,150,170,150,170,MICHIGAN,NaN,xlge,NaN,NaN,False
1,PUMPKINS,NEW YORK,Conventional,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,150,170,150,170,MICHIGAN,NaN,lge,NaN,NaN,False
2,PUMPKINS,NEW YORK,Conventional,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,130,150,130,150,NEW JERSEY,NaN,xlge,NaN,NaN,False
3,PUMPKINS,NEW YORK,Conventional,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,130,150,130,150,NEW JERSEY,NaN,lge,NaN,NaN,False
4,PUMPKINS,NEW YORK,Conventional,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,120,140,120,140,NEW YORK,NaN,med-lge,NaN,NaN,False

In [369]:
newyork_df.shape

(112, 17)

***philedelphia

In [370]:
philadelphia_df.head()

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,...,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
0,PUMPKINS,PHILADELPHIA,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,09/16/2017,140,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
1,PUMPKINS,PHILADELPHIA,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,150,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
2,PUMPKINS,PHILADELPHIA,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,150,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,PUMPKINS,PHILADELPHIA,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,150,160,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,PUMPKINS,PHILADELPHIA,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,10/01/2016,140,140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

In [371]:
for col in philadelphia_df.columns:
    pct_missing = np.mean(philadelphia_df[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

Commodity Name - 0%
City Name - 0%
Type - 100%
Package - 0%
Variety - 0%
Sub Variety - 79%
Grade - 100%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 0%
Origin District - 100%
Item Size - 21%
Color - 100%
Environment - 100%
Unit of Sale - 81%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%

In [372]:
philadelphia_df["Repack"] = philadelphia_df["Repack"].replace({"N":False})
philadelphia_df["Type"] = philadelphia_df["Type"].fillna("Conventional")
philadelphia_df = philadelphia_df.drop(["Grade"], axis=1) 
philadelphia_df.head()

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Date,Low Price,High Price,Mostly Low,...,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
0,PUMPKINS,PHILADELPHIA,Conventional,24 inch bins,HOWDEN TYPE,NaN,09/16/2017,140,150,140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
1,PUMPKINS,PHILADELPHIA,Conventional,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,150,150,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
2,PUMPKINS,PHILADELPHIA,Conventional,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,150,150,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
3,PUMPKINS,PHILADELPHIA,Conventional,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,150,160,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
4,PUMPKINS,PHILADELPHIA,Conventional,36 inch bins,HOWDEN TYPE,NaN,10/01/2016,140,140,140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN

In [373]:
# Dropping 100 percent mission values in all data set balitmore,boston,newyork,philadelphia

philadelphia_df=philadelphia_df.drop(["Environment"],axis=1)
philadelphia_df=philadelphia_df.drop(["Quality"],axis=1)
philadelphia_df=philadelphia_df.drop(["Condition"],axis=1)
philadelphia_df=philadelphia_df.drop(["Appearance"],axis=1)
philadelphia_df=philadelphia_df.drop(["Storage"],axis=1)
philadelphia_df=philadelphia_df.drop(["Crop"],axis=1)
philadelphia_df=philadelphia_df.drop(["Trans Mode"],axis=1)
philadelphia_df.head()

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Date,Low Price,High Price,Mostly Low,Mostly High,Origin,Origin District,Item Size,Color,Unit of Sale,Repack
0,PUMPKINS,PHILADELPHIA,Conventional,24 inch bins,HOWDEN TYPE,NaN,09/16/2017,140,150,140,150,PENNSYLVANIA,NaN,lge,NaN,NaN,False
1,PUMPKINS,PHILADELPHIA,Conventional,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,150,150,150,150,NEW YORK,NaN,med-lge,NaN,NaN,False
2,PUMPKINS,PHILADELPHIA,Conventional,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,150,150,150,150,NEW YORK,NaN,med,NaN,NaN,False
3,PUMPKINS,PHILADELPHIA,Conventional,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,150,160,150,160,PENNSYLVANIA,NaN,lge,NaN,NaN,False
4,PUMPKINS,PHILADELPHIA,Conventional,36 inch bins,HOWDEN TYPE,NaN,10/01/2016,140,140,140,140,NEW JERSEY,NaN,med-lge,NaN,NaN,False

In [374]:
philadelphia_df.shape

(57, 17)

## Combine Your Data

Now that you have four clean sets of data, combine all four into one dataframe that represents the entire Northeast region.

In [380]:
# Combine the four dataframes into one!
northEast_df=baltimore_df.append([boston_df,newyork_df,philadelphia_df])
northEast_df.head()

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Date,Low Price,High Price,Mostly Low,Mostly High,Origin,Origin District,Item Size,Color,Unit of Sale,Repack
0,PUMPKINS,BALTIMORE,Conventional,24 inch bins,NaN,NaN,04/29/2017,270,280.0,270,280.0,NaN,NaN,lge,NaN,NaN,E
1,PUMPKINS,BALTIMORE,Conventional,24 inch bins,NaN,NaN,05/06/2017,270,280.0,270,280.0,NaN,NaN,lge,NaN,NaN,E
2,PUMPKINS,BALTIMORE,Conventional,24 inch bins,HOWDEN TYPE,NaN,09/24/2016,160,160.0,160,160.0,DELAWARE,NaN,med,NaN,NaN,False
3,PUMPKINS,BALTIMORE,Conventional,24 inch bins,HOWDEN TYPE,NaN,09/24/2016,160,160.0,160,160.0,VIRGINIA,NaN,med,NaN,NaN,False
4,PUMPKINS,BALTIMORE,Conventional,24 inch bins,HOWDEN TYPE,NaN,11/05/2016,90,100.0,90,100.0,MARYLAND,NaN,lge,NaN,NaN,False

## Answer Some Questions

Use `groupby()` and `agg()` to answer the following two questions:

1. What is the mean low and high prices for each type of unit of sale in the Northeast region? In the last lesson, we learned that a unit of sale could be something like a bin or individually. 
2. What is the average number of pumpkins for each variety that came into terminal markets for the year by region? Pumpkin varieties include Howden and Fairytale pumpkins.

In [385]:
# Put your code here to find the mean low and high prices in the Northeast region for each type of unit of sale.
northEast_df.groupby("Unit of Sale").aggregate("mean")

               Low Price  High Price  Mostly Low  Mostly High
Unit of Sale
EACH           47.916667   59.166667   47.916667    59.166667
PER BIN       185.845070  206.619718  193.521127   204.859155
SHELLACKED     16.000000   17.545455   16.000000    17.545455

In [414]:
# Put your code here to find the average number of pumpkins coming into terminal markets of each variety.
terminalMarketPumkins=northEast_df.groupby(["City Name","Variety"])
terminalMarketPumkins.describe()

                                      Low Price                          \
                                          count        mean         std
City Name    Variety
BALTIMORE    BIG MACK TYPE                 24.0   47.916667    4.148511
             CINDERELLA                    25.0  175.840000  133.020262
             FAIRYTALE                     16.0  225.625000   21.203380
             HOWDEN TYPE                   25.0  137.600000   26.814175
             HOWDEN WHITE TYPE              2.0  170.000000   14.142136
             MINIATURE                     30.0   16.066667    1.201532
             MIXED HEIRLOOM VARIETIES       3.0  213.333333   46.188022
             PIE TYPE                      26.0   35.769231   54.676728
BOSTON       BIG MACK TYPE                 29.0  200.689655   35.449263
             BLUE TYPE                      7.0  260.000000    0.000000
             CINDERELLA                    14.0  260.000000    0.000000
             FAIRYTALE                     21.0  178.333333  118.346243
             HOWDEN TYPE                  132.0  163.257576   17.528438
             KNUCKLE HEAD                   7.0  260.000000    0.000000
             MINIATURE                     28.0   15.000000    0.000000
             PIE TYPE                     114.0  162.324561   85.724863
NEW YORK     BIG MACK TYPE                  2.0   75.000000    0.000000
             HOWDEN TYPE                   39.0  143.717949   17.157090
             KNUCKLE HEAD                   1.0  120.000000         NaN
             MINIATURE                     27.0   18.296296    3.635454
             MIXED HEIRLOOM VARIETIES       1.0  200.000000         NaN
             PIE TYPE                      42.0  129.261905   80.342274
PHILADELPHIA HOWDEN TYPE                   28.0  130.000000   14.907120
             KNUCKLE HEAD                   1.0  210.000000         NaN
             MINIATURE                     12.0   16.166667    1.114641
             PIE TYPE                      16.0   96.875000   76.506100

                                                                           \
                                         min    25%    50%     75%    max
City Name    Variety
BALTIMORE    BIG MACK TYPE              40.0   50.0   50.0   50.00   50.0
             CINDERELLA                 15.0   29.0  180.0  240.00  380.0
             FAIRYTALE                 200.0  200.0  230.0  250.00  250.0
             HOWDEN TYPE                90.0  120.0  150.0  160.00  160.0
             HOWDEN WHITE TYPE         160.0  165.0  170.0  175.00  180.0
             MINIATURE                  15.0   15.0   16.0   16.75   18.0
             MIXED HEIRLOOM VARIETIES  160.0  200.0  240.0  240.00  240.0
             PIE TYPE                   15.0   16.0   17.0   18.00  200.0
BOSTON       BIG MACK TYPE             175.0  175.0  175.0  200.00  260.0
             BLUE TYPE                 260.0  260.0  260.0  260.00  260.0
             CINDERELLA                260.0  260.0  260.0  260.00  260.0
             FAIRYTALE                  15.0   15.0  260.0  260.00  260.0
             HOWDEN TYPE               130.0  150.0  160.0  180.00  200.0
             KNUCKLE HEAD              260.0  260.0  260.0  260.00  260.0
             MINIATURE                  15.0   15.0   15.0   15.00   15.0
             PIE TYPE                   15.0  150.0  180.0  200.00  300.0
NEW YORK     BIG MACK TYPE              75.0   75.0   75.0   75.00   75.0
             HOWDEN TYPE               100.0  130.0  150.0  160.00  180.0
             KNUCKLE HEAD              120.0  120.0  120.0  120.00  120.0
             MINIATURE                  15.0   16.0   18.0   18.00   32.0
             MIXED HEIRLOOM VARIETIES  200.0  200.0  200.0  200.00  200.0
             PIE TYPE                   16.0   43.5  130.0  195.00  260.0
PHILADELPHIA HOWDEN TYPE               100.0  120.0  130.0  140.00  150.0
             KNUCKLE HEAD              210.0  210.0  210.0  210.00  210.0
             MINIATURE                  15.0   15.0   16.0   17.00   18.0
             PIE TYPE                   12.0   18.0  107.5  140.00  250.0

                                      High Price              ... Mostly Low  \
                                           count        mean  ...        75%
City Name    Variety                                          ...
BALTIMORE    BIG MACK TYPE                  24.0   59.166667  ...      50.00
             CINDERELLA                     25.0  185.120000  ...     240.00
             FAIRYTALE                      16.0  238.750000  ...     250.00
             HOWDEN TYPE                    25.0  149.200000  ...     160.00
             HOWDEN WHITE TYPE               2.0  180.000000  ...     175.00
             MINIATURE                      30.0   16.666667  ...      16.75
             MIXED HEIRLOOM VARIETIES        3.0  240.000000  ...     240.00
             PIE TYPE                       26.0   36.442308  ...      18.00
BOSTON       BIG MACK TYPE                  29.0  224.827586  ...     225.00
             BLUE TYPE                       7.0  285.000000  ...     285.00
             CINDERELLA                     14.0  285.000000  ...     285.00
             FAIRYTALE                      21.0  195.333333  ...     285.00
             HOWDEN TYPE                   132.0  195.984848  ...     180.00
             KNUCKLE HEAD                    7.0  285.000000  ...     285.00
             MINIATURE                      28.0   18.000000  ...      15.00
             PIE TYPE                      114.0  183.605263  ...     220.00
NEW YORK     BIG MACK TYPE                   2.0   80.000000  ...      75.00
             HOWDEN TYPE                    39.0  159.102564  ...     160.00
             KNUCKLE HEAD                    1.0  140.000000  ...     120.00
             MINIATURE                      27.0   19.259259  ...      18.00
             MIXED HEIRLOOM VARIETIES        1.0  200.000000  ...     200.00
             PIE TYPE                       42.0  138.595238  ...     195.00
PHILADELPHIA HOWDEN TYPE                    28.0  138.035714  ...     140.00
             KNUCKLE HEAD                    1.0  210.000000  ...     210.00
             MINIATURE                      12.0   17.583333  ...      17.00
             PIE TYPE                       16.0  101.750000  ...     140.00

                                             Mostly High              \
                                         max       count        mean
City Name    Variety
BALTIMORE    BIG MACK TYPE              50.0        24.0   59.166667
             CINDERELLA                380.0        25.0  185.120000
             FAIRYTALE                 250.0        16.0  238.125000
             HOWDEN TYPE               160.0        25.0  148.400000
             HOWDEN WHITE TYPE         180.0         2.0  180.000000
             MINIATURE                  18.0        30.0   16.666667
             MIXED HEIRLOOM VARIETIES  240.0         3.0  240.000000
             PIE TYPE                  200.0        26.0   36.442308
BOSTON       BIG MACK TYPE             285.0        29.0  221.379310
             BLUE TYPE                 285.0         7.0  285.000000
             CINDERELLA                285.0        14.0  285.000000
             FAIRYTALE                 285.0        21.0  195.000000
             HOWDEN TYPE               225.0       132.0  176.098485
             KNUCKLE HEAD              285.0         7.0  285.000000
             MINIATURE                  15.0        28.0   15.000000
             PIE TYPE                  300.0       114.0  174.017544
NEW YORK     BIG MACK TYPE              75.0         2.0   80.000000
             HOWDEN TYPE               180.0        39.0  159.102564
             KNUCKLE HEAD              120.0         1.0  140.000000
             MINIATURE                  32.0        27.0   19.185185
             MIXED HEIRLOOM VARIETIES  200.0         1.0  200.000000
             PIE TYPE                  260.0        42.0  138.452381
PHILADELPHIA HOWDEN TYPE               150.0        28.0  138.035714
             KNUCKLE HEAD              210.0         1.0  210.000000
             MINIATURE                  18.0        12.0   17.583333
             PIE TYPE                  250.0        16.0  101.750000

                                                                         \
                                              std    min     25%    50%
City Name    Variety
BALTIMORE    BIG MACK TYPE               2.823299   50.0   60.00   60.0
             CINDERELLA                137.861138   15.0   29.00  200.0
             FAIRYTALE                  21.669872  200.0  230.00  235.0
             HOWDEN TYPE                24.269322  100.0  130.00  160.0
             HOWDEN WHITE TYPE           0.000000  180.0  180.00  180.0
             MINIATURE                   1.347625   15.0   15.00   17.0
             MIXED HEIRLOOM VARIETIES    0.000000  240.0  240.00  240.0
             PIE TYPE                   55.726354   15.0   16.00   17.0
BOSTON       BIG MACK TYPE              39.593843  175.0  200.00  200.0
             BLUE TYPE                   0.000000  285.0  285.00  285.0
             CINDERELLA                  0.000000  285.0  285.00  285.0
             FAIRYTALE                 130.422391   15.0   15.00  285.0
             HOWDEN TYPE                22.601040  140.0  160.00  165.0
             KNUCKLE HEAD                0.000000  285.0  285.00  285.0
             MINIATURE                   0.000000   15.0   15.00   15.0
             PIE TYPE                   92.900268   15.0  160.00  200.0
NEW YORK     BIG MACK TYPE               0.000000   80.0   80.00   80.0
             HOWDEN TYPE                16.931433  130.0  150.00  160.0
             KNUCKLE HEAD                     NaN  140.0  140.00  140.0
             MINIATURE                   3.150544   16.0   18.00   18.0
             MIXED HEIRLOOM VARIETIES         NaN  200.0  200.00  200.0
             PIE TYPE                   85.456365   18.0   47.50  140.0
PHILADELPHIA HOWDEN TYPE                13.005646  120.0  123.75  140.0
             KNUCKLE HEAD                     NaN  210.0  210.00  210.0
             MINIATURE                   1.311372   15.0   17.50   18.0
             PIE TYPE                   76.220295   12.0   19.50  120.0


                                         75%    max
City Name    Variety
BALTIMORE    BIG MACK TYPE              60.0   60.0
             CINDERELLA                340.0  380.0
             FAIRYTALE                 260.0  260.0
             HOWDEN TYPE               160.0  170.0
             HOWDEN WHITE TYPE         180.0  180.0
             MINIATURE                  18.0   18.0
             MIXED HEIRLOOM VARIETIES  240.0  240.0
             PIE TYPE                   18.0  200.0
BOSTON       BIG MACK TYPE             225.0  285.0
             BLUE TYPE                 285.0  285.0
             CINDERELLA                285.0  285.0
             FAIRYTALE                 285.0  285.0
             HOWDEN TYPE               195.0  225.0
             KNUCKLE HEAD              285.0  285.0
             MINIATURE                  15.0   15.0
             PIE TYPE                  220.0  300.0
NEW YORK     BIG MACK TYPE              80.0   80.0
             HOWDEN TYPE               170.0  190.0
             KNUCKLE HEAD              140.0  140.0
             MINIATURE                  20.0   32.0
             MIXED HEIRLOOM VARIETIES  200.0  200.0
             PIE TYPE                  200.0  300.0
PHILADELPHIA HOWDEN TYPE               150.0  160.0
             KNUCKLE HEAD              210.0  210.0
             MINIATURE                  18.0   20.0
             PIE TYPE                  150.0  250.0

[26 rows x 32 columns]

## Bonus Mission

Try answering the same questions for the Midwest (Chicago, Detroit, and St. Louis) or the Southeast (Atlanta, Columbia, and Miami) regions.

In [378]:
# Try the bonus mission if you have time!